h1{
	color:rgb(41, 52, 118);
}

h2{
	color: #1abc9c;
}

.container-box {
	margin: 0 auto;
	max-width:630px;
	overflow:hidden;
	border-radius: 3px;
}

.income-header {
	background-color: #484848;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
}

.calc-box {
	padding: 1em 1em 0.5em 1em;
	text-align: left;
	margin-bottom: 1em;
}

.calc-box .row {
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}

.result-box {
	padding: 1em 1em 1em 1em;
	text-align: left;
	margin-bottom: 1em;
}
.result-box .row {
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}
.grey {
	background-color: #ececec;
}