
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PSIBER Tax Calculator</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
	<div class="container">

		<div class="container-box">
			<h1>PSIBER Income Tax Calculator</h1>
		</div>


		<form action="#" th:action='@{/calculate}' th:object="${inputPayload}" method="post">
		
		
			<div class="container-box">
				<div class="income-header">
					<b>Income</b>
				</div>
				<div class="calc-box grey">
					<div class="row">
						Which tax year would you like to calculate? 
						<select th:field="*{taxYear}">
							<option th:value="2018">2018</option>
							<option th:value="2017">2017</option>
						</select>
					</div>
					<div class="row">
						What is your total salary before deductions?  
						<input type="text" th:field="*{taxableIncome}"/>
					</div>
					<div class="row">
						How often do you receive this salary?  
						<select th:field="*{isMonthOrYear}">
							<option th:value="Monthly">Monthly</option>
							<option th:value="Yearly">Yearly</option>
						</select>
					</div>
					<div class="row">
						How many members on your medical aid?
						<input type="text" th:field="*{numOfMedicalAidMembers}"/>
					</div>
					<div class="row">
						Your Age:?
						<select th:field="*{ageGroup}">
							<option th:value="primary">Under 65</option>
							<option th:value="secondary">65 - 75</option>
							<option th:value="tertiary">Over 75</option>
						</select>
					</div>

					<div class="row">
						<input type="submit" value="Calculate?"/>
					</div>
				</div>		
			</div>

			<!-- Results block -->
			

		</form>

			<div th:if="${outputPayload.net != null}" class="container-box">
				<div class="income-header">
					<b>Your Tax Calculations</b>
				</div>
				<div class="result-box grey">
					<div class="row">
						<b>Calculated PAYE – before tax credit</b><br/>
						Monthly: <span th:text="${outputPayload.monthlyTax}" ></span><br/>
						Annually: <span th:text="${outputPayload.annualTax}" ></span>
					</div>
					<div class="row">
						<b>Tax Credits:</b>
							<span th:text="${outputPayload.taxCredits}" ></span>
					</div>
					<div class="row">
						<b>PAYE Due – After Tax Credit:</b>
							<span th:text="${outputPayload.annualTaxAfterCredits}" ></span>
					</div>
					<div class="row">
						<b>Net Cash Pay after PAYE Due</b>
							<span th:text="${outputPayload.net}" ></span>
					</div>
				</div>		
			</div>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
